div {
    margin: 0;
    background-color: #DBE2EF;
}

.nature {
    width: 100%;
    padding: 0;
    margin: 0;
    position: relative;
}

.top {
    position: relative;
}

.cloud_top {
    width: 250px;
    position: absolute;
    top: 200px;
    right: 0;
}

.cloud_bottom {
    width: 250px;
    position: absolute;
    top: 150px;
    left: 50px;
}


.middle {

}

.bottom {

}

h1 {
    margin: auto;
    /* padding-top: 100px; */
    width: 500px;
    /* left: 10px; */
}

body {
    margin: 0 0 0 0;
    text-align: center;
}