body {
  margin: auto;
  font-family: "Montserrat", sans-serif;
  background-color: #f2c140;
  text-align: justify;
  display: block;
}

.container {
  min-width: 1903px;
  max-width: 1903px;
  margin: 50px auto;
  text-align: justify;
}

h1 {
  font-family: "Italianno", cursive;
  text-align: center;
  font-size: 50px;
  letter-spacing: 15px;
}

h2,
h3 {
  font-family: "Gluten", cursive;
  /* clear: left; */
}

.fon {
  width: 100%;
}

.rounded_width_border_position {
  width: 250px;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  transition: 1s;
  /* transform: transform; */
}

.rounded_width_border_position:hover {
  width: 400px;
  z-index: 2;
}

.man_1 {
  left: 430px;
  top: 80px;
}

.man_2 {
  top: 125px;
  left: 50px;
}

.man_3 {
  left: 210px;
  top: 400px;
}

.man_4 {
  top: 460px;
  right: 75px;
}

.man_5 {
  right: 300px;
  top: 190px;
}

.man_6 {
  right: 35px;
  top: 0;
}

.man_7 {
  right: 550px;
  top: 50px;
}

.top {
  position: relative;
}

.big_img {
  height: 100%;
  border-radius: 50%;
  margin: 0 30px 0 30px;
}

.top_left {
  float: left;
}

.top_right {
  float: right;
}

.member {
  height: 345px;
  width: 80%;
  margin: auto;
  line-height: 30px;
  overflow: hidden;
}

.up_arrow {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 10px;
  margin-right: 10px;
  width: 60px;
}

* {
  scroll-behavior: smooth;
}

.bottom {
  display: block;
  background-color: #eb9f0e;
  text-align: center;
  padding: 40px 0;
  margin-top: 100px;
}

.bottom p {
  margin-top: 30px;
  color: white;
}

.bottom a {
  margin: auto 20px;
  text-decoration: none;
  color: rgb(49, 36, 7);
  font-weight: 600;
}

.about {
  text-align: center;
  padding: 100px;
}

hr {
  border: none;
  border-top: dotted 10px rgb(49, 36, 7);
  width: 100px;
  margin: 100px auto;
}
